body {
  font-family: Arial, sans-serif;
  margin: 30px;
  background-color: #f0f0f0;
}

h1, h2 {
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

td, th {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}
